{% extends "header.html" %}
{% block body %}

	<div class="row">
		<dir class="col-lg-12">
			<h2 style="margin-top: 0">{{ perfil.nome }}</h2>
			<address>
				<strong>{{ perfil.nome_empresa }}</strong>
				<abbr title="Telefone">Tel.:</abbr>{{ perfil.telefone}} 
			</address>
			{% if is_contato %}
				<div class="well well-sm">
					Vocês estão conectados
				</div>
			{% else %}
				<a href="{% url 'convidar' perfil.id %}">
					Convidar
				</a>
			{% endif %}
		</dir>
	</div>

{% endblock %}